# Node modules
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json

# Build outputs
client/dist/
cache/
artifacts/
typechain-types/
coverage/

# Env files
.env
*.env.local

# OS/editor
.DS_Store
.vscode/
